$fonts: "Montserrat", sans-serif;
$another-fonts: "McLaren", cursive;
$page-padding: 0 16px;
$body-bg: #eee;
$primary-color: #f5ba13;
$note-color: #fff;

$title-font: 1.2em;
$text-font: 1.1em;
$spacing: 2rem;